<?xml version="1.0"?>

<configuration>

    <connectionStrings>
        <add name="Nhom7ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Fpoly\Desktop\daipvph04507_nhom7_DTDM_HoanThien\daipvph04507_nhom7_DTDM_HoanThien\daipvph04507_nhom7_DTDM\data\Nhom7.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
